backend: lapin

features:
  own:
    - serde
    - rt_tokio_1
    - rt_smol_2
  exclude:
    - async-global-executor
    - smol
    - tokio

test:
  services:
    rabbitmq:
      image: rabbitmq:3.11-alpine
      ports:
        - 5672:5672
      env:
        RABBITMQ_DEFAULT_USER: deadpool
        RABBITMQ_DEFAULT_PASS: deadpool
        RABBITMQ_DEFAULT_VHOST: deadpool
  env:
    AMQP__URL: amqp://deadpool:deadpool@127.0.0.1/deadpool
