defaults:
  run:
    working-directory: ./crates/deadpool-memcached
env:
  RUST_BACKTRACE: 1
jobs:
  check-reexported-features:
    name: Check re-exported features
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@v1
        with:
          components: rustc,rust-std,cargo
          toolchain: stable
      - uses: dcarbone/install-jq-action@v3
      - uses: dcarbone/install-yq-action@v1
      - run: ../../tools/check-reexported-features.sh
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@v1
        with:
          components: rustc,rust-std,cargo,clippy
          toolchain: stable
      - run: cargo clippy --no-deps --all-features -- -D warnings
  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@v1
        with:
          components: rustc,rust-std,cargo
          toolchain: nightly
      - uses: dtolnay/rust-toolchain@v1
        with:
          components: rustc,rust-std,cargo
          toolchain: "1.85"
      - run: ../../tools/cargo-update-minimal-versions.sh 1.85
      - run: cargo check --all-features
  rustdoc:
    name: Doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@v1
        with:
          components: rustc,rust-std,cargo
          toolchain: stable
      - run: cargo doc --no-deps --all-features
  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@v1
        with:
          components: rustc,rust-std,cargo,rustfmt
          toolchain: stable
      - run: cargo fmt --check
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      rabbitmq:
        image: memcached:1.6
        ports:
          - 11211:11211
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@v1
        with:
          components: rustc,rust-std,cargo
          toolchain: stable
      - env:
          MEMCACHED__ADDR: tcp://127.0.0.1:11211
        run: cargo test --all-features
name: deadpool-memcached
"on":
  pull_request:
    branches:
      - main
    paths:
      - crates/deadpool-memcached/**
      - .github/workflows/deadpool-memcached.yml
  push:
    branches:
      - main
    paths:
      - crates/deadpool-memcached/**
      - .github/workflows/deadpool-memcached.yml
    tags:
      - deadpool-memcached-v*
